*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/mobile/google-services.json
/release
add_fabric_key.sh
remove_fabric_key.sh
/mobile/fabric.properties
