<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pdesire.projectcluster">
    <application>
        <activity
            android:name="com.pdesire.projectcluster.core.AssetCopyManager"
            android:label="test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
